<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django Girls blog</title>
  </head>
  <body>
    <div>
      <h1><a href="">Django Girls Blog</a></h1>
    </div>
    <div>
      <p>published: 14.06.2014, 12:!4</p>
      <h2><a href="">My first post</a></h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam
        aliquam exercitationem nesciunt temporibus ratione vel doloremque
        distinctio iste? Nihil, ea deserunt delectus quis vero fugit blanditiis
        cum ipsa amet accusantium!
      </p>
    </div>
    <div>
      <p>published: 25.02.2020, 09:46</p>
      <h2><a href="">My second Post</a></h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto ea,
        consequuntur vitae expedita recusandae ad deserunt harum fugiat?
        Consectetur quidem voluptatibus distinctio corrupti cumque sapiente
        consequatur repudiandae et sunt facilis?
      </p>
    </div>
  </body>
</html>
